click
git+https://github.com/altaris/turbo-broccoli.git
loguru
numpy==1.23
opencv-python
Pillow
pytorch-lightning==2.0.0
rich
scikit-learn
sklearn-pandas
tensorboard
torch
torchvision
transformers==4.28.1
