click
diffusers[training]
git+https://github.com/altaris/turbo-broccoli.git
loguru
matplotlib
numpy==1.23
Pillow
pytorch-lightning==2.0.0
rich
safetensors
scikit-image
scikit-learn
scikit-pandas
tensorboard
torch
torchvision
transformers==4.28.1
